.dropdownContent {
  background-color: #333;
  color: #fff;
  padding: 12px;
  border: 1px solid grey;
  margin: 6.8px 0;
  right: 0;
  border-radius: 2px;
  z-index: 20;
}

.divider {
  min-height: 1px;
  width: 100%;
  background-color: grey;
  margin: 8px 0;
  outline: none;
}

.dropdownContent::before {
  border: 1.2px solid gray;
  content: '';
  position: absolute;
  top: 0.6px;
  right: 7px;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
  height: 14px;
  width: 14px;
  background-color: #333;
  transform: rotate(45deg);
  border-radius: 2px;
}

.dropdownItem {
  display: flex;
  align-items: flex-start;
  outline: none;
  padding: 5px 0;
}

.dropdownItemHeader {
  display: flex;
  align-items: flex-start;
  outline: none;
}

.dropdownItem:hover {
  cursor: pointer;
  color: #add8e6;
}

.dropdownTrigger {
  background: transparent;
  border: 0;
  padding: 0;
  outline: none;
  right: 0;
  display: flex;
  align-items: center;
}

.dropdownItemHeader div {
  margin-left: 8px;
}

.imageIconName {
  width: 36px;
  height: 36px;
  background: black;
  align-items: center;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: 2px solid white;
}
.imageIconName:hover {
  box-shadow: 0 0 10px white;
}

.profileContainer {
  display: flex;
  align-items: center;
  gap: 14px;
}

.profileText {
  position: relative;
  display: flex;
  align-items: center;
  &::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    border: 1px dashed white;
    width: 100%;
  }
}
