.Table {
  &Header {
    .TableCell {
      &:not(:nth-child(5)) {
        cursor: pointer;
        transition: all var(--transition);
        &:hover {
          background-color: var(--color-dark-300);
        }
      }

      &.asc {
        svg {
          transform: rotate(180deg);
        }
      }

      &.active {
        svg {
          opacity: 1;
        }
      }

      svg {
        transition: all var(--transition);
        opacity: 0;
      }
    }
  }
  &Cell {
    width: 23%;
    &:nth-child(3) {
      width: 9%;
    }
    &:nth-child(4) {
      width: 15%;
    }
    &:last-child {
      width: 10%;
    }
    &Img {
      display: block;
      width: 118px;
      height: 48px;
      object-fit: cover;
      object-position: center;
      &:not(:first-child) {
        margin-top: 5px;
      }
    }
  }
}
