.SelectWrapp {
  display: flex;
  flex-direction: column;
}
.SelectSmall {
  .SelectTrigger {
    padding: 0 2px 0 6px;
    height: 24px;
    width: 50px;
    &[data-placeholder] {
      font-size: var(--font-size-s);
      line-height: var(--line-height-m);
    }
  }
}

.SelectLabel {
  color: var(--color-dark-100);
  &Disabled {
    color: var(--color-dark-300);
  }
}
.SelectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  height: 36px;
  width: 210px;
  background-color: var(--color-dark-900);
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: var(--color-dark-500);
  }
  &:focus {
    border-color: var(--color-info-700);
  }
  &:active {
    border-color: var(--color-dark-100);
  }
  &:disabled {
    cursor: auto;
    border-color: var(--color-dark-300);
    .SelectIcon {
      svg {
        path {
          fill: var(--color-dark-300);
        }
      }
    }
    &[data-placeholder] {
      color: var(--color-dark-300);
    }
    &:hover {
      background-color: var(--color-dark-900);
    }
  }
  &[data-placeholder] {
    font-size: var(--font-size-m);
    line-height: var(--line-height-s);
  }
  &[data-state='open'] {
    border-radius: 2px 2px 0 0;
    .SelectIcon {
      transform: scale(1, -1);
    }
  }
}

.SelectIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.SelectContent {
  overflow: hidden;
  background-color: var(--color-dark-900);
  border-radius: 0 0 2px 2px;
  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);
  border: 1px solid var(--color-dark-300);
  border-top: none;
  transition: all 0.3s;
  &:active {
    border-color: var(--color-dark-100);
  }
  &[data-side='top'] {
    border-radius: 2px 2px 0 0;
    border-bottom: none;
    border-top: 1px solid var(--color-dark-300);
  }
}

.SelectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  background-color: var(--color-accent-700);
  cursor: default;
}
