.Card {
  padding: 33px 36px 60px;
}

.Title {
  text-align: center;
  margin-bottom: 50px;
}

.Input {
  margin-bottom: 20px;
}

.Label {
  color: var(--color-light-900);
  opacity: 0.5;
  margin-bottom: 40px;
}
