.Name {
  display: flex;
  align-items: center;
  justify-content: center;
  .ButtonEdit {
    margin-left: 5px;
  }
}

.Email {
  color: var(--color-dark-100);
  margin-bottom: 13px;
}

.DeleteAccount {
  margin-top: 20px;
  color: var(--color-danger-500);
  transition: all var(--transition);
  &:hover {
    color: var(--color-accent-500);
  }
}
