.PageTable {
  margin-bottom: 24px;
  &Header {
    .PageTableCell {
      &:not(:last-child) {
        cursor: pointer;
        transition: all var(--transition);
        &:hover {
          background-color: var(--color-dark-300);
        }
      }

      &.asc {
        svg {
          transform: rotate(180deg);
        }
      }

      &.active {
        svg {
          opacity: 1;
        }
      }

      svg {
        transition: all var(--transition);
        opacity: 0;
      }
    }
  }
  &Cell {
    width: 20%;
    &:nth-child(1) {
      width: 30%;
    }
    &:nth-child(2) {
      width: 10%;
    }
    &:last-child {
      text-align: right;
      vertical-align: middle;
      button,
      a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
      }
    }
    &Link {
      display: flex;
      width: fit-content;
      align-items: center;
    }
  }
  &Cover {
    min-width: 118px;
    height: 48px;
    object-fit: cover;
    border-radius: 2px;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.CardItems {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.CardItem {
  margin-bottom: 10px;
}
