.sliderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  touch-action: none;
}

.SliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  width: calc(100% - 60px);
  margin: 0 12px;
  touch-action: none;
}

.SliderTrack {
  background-color: rgba(rgb(140, 97, 255), 50%);
  flex-grow: 1;
  border-radius: 10px;
  height: 5px;
}

.SliderRange {
  position: absolute;
  background-color: var(--color-accent-500);
  border-radius: 10px;
  height: 100%;
}

.SliderThumb {
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--color-accent-500);
  border-radius: 50%;
  cursor: pointer;
  &::after {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-light-100);
    border-radius: 50%;
  }
}

.sliderValue {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-dark-300);
  flex: 0 0 36px;
  height: 36px;
  border-radius: 4px;
}
