.headerUser {
  display: flex;
  align-items: center;
}
.headerUserLink {
  margin-right: 15px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    border: 1px dashed var(--color-light-100);
    bottom: 0;
    left: 0;
  }
  span {
    @media (max-width: 480px) {
      font-size: 0.8rem;
    }
  }
}

.headerUserNoAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--color-accent-500);
}
