.headerUser {
  display: flex;
  align-items: center;
}
.headerUserLink {
  margin-right: 15px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    border: 1px dashed var(--color-light-100);
    bottom: 0;
    left: 0;
  }
}
