.DialogOverlay {
  background-color: rgba(#000, 0.7);
  position: fixed;
  inset: 0;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  overflow-y: auto;
  transition: all var(--transition);
}
.DialogContent {
  margin: 20px 20px;
  background-color: var(--color-dark-700);
  border-radius: 2px;
  border: 1px solid var(--color-dark-500);
  position: relative;
  max-width: 540px;
  width: calc(100% - 20px);
  padding: 18px 24px;
  z-index: 15;
  &:focus {
    outline: none;
  }
  @media (max-width: 485px) {
    padding: 18px 15px;
  }
}

.IconButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 18px;
  right: 18px;
  transition: all var(--transition);
  &:hover {
    transform: rotate(-90deg);
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
