.card {
  padding: 33px 36px 25px 36px;
  @media (max-width: 485px) {
    padding: 30px 15px 25px;
  }
}

.title {
  margin-bottom: 26px;
  text-align: center;
}

.input {
  margin-bottom: 12px;
}

.checkbox {
  margin-bottom: 6px;
}

.button {
  margin-top: 60px;
  margin-bottom: 20px;
}

.caption {
  margin-bottom: 11px;
  color: var(--color-light-900);
  text-align: center;
}

.signIn {
  display: block;
  width: fit-content;
  margin: 0 auto;
  font-weight: var(--font-weight-bold);
  color: var(--color-accent-500);
}
