.header {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background: var(--color-dark-700);
  border-bottom: 1px solid var(--color-dark-500);
  box-sizing: content-box;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  width: 100%;
  margin: 0 auto;
}

.content a {
  height: 36px;
}
