.inputWrapper {
  position: relative;
  &.password {
    .input {
      padding: 0 40px 0 12px;
    }
  }
  &.inputError {
    .input {
      border-color: var(--color-danger-300);
      outline: none;
      color: var(--color-danger-300);
    }
  }
  &.search {
    .input {
      padding: 0 40px;
    }
    .iconSearch {
      svg {
        path {
          fill: var(--color-dark-100);
        }
      }
    }
  }
}

.input {
  color: var(--color-light-100);
  padding: 0 12px;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
  height: 34px;
  outline: none;
  background-color: transparent;
  font-size: var(--font-size-m);
  width: 100%;
  transition: all var(--transition);
  &:hover {
    background-color: var(--color-dark-700);
  }
  &:focus {
    outline: 2px solid var(--color-info-700);
    border-color: transparent;
  }
  &:active {
    border-color: var(--color-light-100);
    &::placeholder {
      color: var(--color-light-100);
    }
    .iconSearch:has(+ &) {
      svg {
        path {
          fill: var(--color-light-100);
        }
      }
    }
  }
  &:disabled {
    pointer-events: none;
    &::placeholder {
      color: var(--color-dark-300);
    }
    .iconSearch:has(+ &) {
      pointer-events: none;
      svg {
        path {
          fill: var(--color-dark-300);
        }
      }
    }
    & + .icon {
      pointer-events: none;
      svg {
        path {
          fill: var(--color-dark-300);
        }
      }
    }
  }
}
.error {
  color: var(--color-danger-300);
  margin-top: 5px;
}

.label {
  color: var(--color-dark-100);
}

.icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

.iconSearch {
  right: auto;
  left: 12px;
}
