.text {
  color: var(--color-light-100);
}

.h1,
.h2,
.h3,
.h4,
.subtitle1,
.subtitle2,
.overline {
  font-weight: var(--font-weight-bold);
}

.h1 {
  font-size: var(--font-size-xxl);
  line-height: 138%;
}

.h2 {
  font-size: var(--font-size-xl);
  line-height: 180%;
}

.h3 {
  font-size: var(--font-size-l);
  line-height: 133%;
}

.h4 {
  font-size: var(--font-size-m);
  line-height: 150%;
}

.link1,
.link2 {
  text-decoration: underline;
  color: var(--color-info-500);
}

.link1 {
  font-size: var(--font-size-s);
  line-height: 171%;
}

.link2 {
  font-size: var(--font-size-xs);
  line-height: 171%;
}

.subtitle1,
.body1 {
  font-size: var(--font-size-m);
  line-height: 150%;
}

.subtitle2,
.body2 {
  font-size: var(--font-size-s);
  line-height: 171%;
}

.caption,
.overline {
  font-size: var(--font-size-xs);
  line-height: 133%;
}
