.header {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: var(--header-height);
  background: var(--color-dark-700);
  border-bottom: 1px solid var(--color-dark-500);
}

.headerWrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoText {
  color: var(--color-accent-500);
  transition: all var(--transition);
  &:hover {
    color: var(--color-accent-300);
  }
  @media (max-width: 480px) {
    font-size: 1.3rem;
  }
}
