.DeckPage {
  padding: 25px 0 35px;
  &Button {
    margin-bottom: 35px;
  }
  &Empty {
    margin-top: 70px;
    text-align: center;
    &Title {
      margin-bottom: 30px;
      color: var(--color-dark-100);
    }
  }
}

.CardTable {
  margin-bottom: 25px;
}

.DeckPageResult {
  padding: 50px 0 20px;
  text-align: center;
  color: var(--color-dark-100);
}
