.Card {
  padding: 33px 36px 25px;
  @media (max-width: 485px) {
    padding: 30px 15px 25px;
  }
}
.Title {
  margin-bottom: 50px;
  text-align: center;
}

.Label {
  color: rgba(#c3c1c7, 0.5);
  margin: 20px 0 65px;
}

.Button {
  margin-bottom: 20px;
}

.Note {
  text-align: center;
  color: var(--color-light-900);
  margin-bottom: 7px;
}

.Link {
  display: block;
  width: fit-content;
  margin: 0 auto;
  font-weight: var(--font-weight-bold);
  color: var(--color-accent-500);
}
